html {
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 14px;
}

h1 {
	font-family: serif;
	margin: 1em 0 2em;
	text-align: center;
}

#content {
	margin: 0 auto;
}

#nav {

}

#nav ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav li {
	display: inline;
	padding: 0 5px;
}

#nav a {
	color: #000;
	font-weight: bold;
	font-family: serif;
	text-decoration: none;
}

#nav .icon {
	font-size: 20px;
	font-weight: bold;
	font-family: Arial Narrow,Helvetica,Sans-serif;
	position: relative;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.interlineal {
	margin: 0 50px;
}

.interlineal p {
	margin-bottom: 4em;
	text-align: justify;
}

.block {
	display: inline-block;
	margin: 0 0 2em 0;
	position: relative;
}

.block span {
	display:block;
	text-align: left;
}

.block span.strongs{
	display: inline-block;
}

.block span.morph {
	display: inline-block;
	margin-left: .5em;
}

.word {
	margin-right: 1em;
}

.strongs {
	color: #0092F2;
	color: #00c;
	font-size: 12px;
	text-decoration: none;
}

a:visited {
	color: #00c;
}

.morph {
	color: #0092F2;
	font-size: .8em;
	text-decoration: none;
}

.greek {
	color: #001320;
	font-family: Cardo,GentiumAlt,Galilee Unicode Gk,Galatia SIL,Palatino Linotype,Arial,Helvetica,Sans-serif;
	font-size: 1.5em;
	line-height: 2;
}

.translit {
	color: #0066AA;
	font-size: 1em;
	text-decoration: none;
}

.spa {
	color: #D55500;
	font-size: 1em;
	text-decoration: none;
}

.verse {
	color: #552200;
	font-size: 1em;
	font-weight: 700;
	text-decoration: none;
	line-height: 3.7;
}

.chapter {
	color: #000;
	font-family: Times New Roman, serif;
	font-size: 4em;
	font-weight: bold;
}

.title {
	clear: both;
	margin-bottom: 2em;
	overflow: auto;
	text-align: center;
}

.aling-verse {
	position: relative;
	bottom: 3.2em;
	margin-right: .5em;
}

.aling-chapter {
	position: relative;
	bottom: 1.5em;
	margin-right: 1em;
	clear:left;
}

.strongs-entry dt {
	color: #0066AA;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: none;
	float: left;
	clear: left;
	margin-bottom: 1em;
}

.strongs-entry dd {
	float: left;
	margin-left: 5px;
	line-height: 18px;
}

.strongs-entry .greek {
	font-size: 19px;
	line-height: 18px;
}


.concordance {
	clear: both;
	_border: 1px solid #000;
	border-collapse: collapse;
}

.concordance th {
	border-bottom: 1px solid #000;
}

.concordance td {
	border-bottom: 1px solid #eee;
}

.concordance th,
.concordance td {
	padding: 2px 15px;
	vertical-align: top;
}

ul.refs {
	padding: 0;
}

ul.refs li {
	margin-bottom: .5em;
}

#chart {
	clear: both;
	height: 400px;
	margin: 2em 0;
}

.player {
	border-color: transparent transparent transparent #999;
	border-style:solid;
	border-width:5px 0 5px 10px;
	width:0;
	height:0;
	display: inline-block;
	cursor: pointer;
}

.selected {
	border-bottom: 1px solid #f00;
}

.highlight {
	background: #ff6;
}
.marked {
	background: #eef;
}

#panel {
	position: fixed;
	top: 5px;
	right: 5px;
	background: #eee;
	padding: 5px;
	border: 1px solid #ccc;
}

.word .spa {
	font-size: 1em;
	line-height: 2;
}

span.number {
	display: inline;
}

.block span.greek-word {
	display: inline-block;
	margin-right: 1em;
}

.block span.aligned {
}

.aligned .greek,
.block span.skip,
.block span.group-close,
.block span.group-open,
.block span.arrow-left,
.block span.arrow-right,
.block span.pointer-left,
.block span.pointer-right {
	font-size: 1.3em;
	line-height: 2;
	display: inline-block;
}


.number {
	font-size: 14px;
	margin-left: 2px;
}

sub {
	margin-left: 2px;
}

.count {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.search-result {
	margin-bottom: 1em;
	border-bottom: 1px solid #000;
}

.search-result:hover {
	background: #eee;
}

/* Core qTip styles */
.qtip, .qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 600px;
	min-width: 50px;

	font-size: 10.5px;
	line-height: 12px;

	direction: ltr;
}

	.qtip-content{
		position: relative;
		padding: 5px 9px;
		overflow: hidden;

		text-align: left;
		word-wrap: break-word;
	}

	.qtip-titlebar{
		position: relative;
		padding: 5px 35px 5px 10px;
		overflow: hidden;

		border-width: 0 0 1px;
		font-weight: bold;
	}

	.qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

	/* Default close button class */
	.qtip-close{
		position: absolute;
		right: -9px; top: -9px;

		cursor: pointer;
		outline: medium none;

		border-width: 1px;
		border-style: solid;
		border-color: transparent;
	}

		.qtip-titlebar .qtip-close{
			right: 4px; top: 50%;
			margin-top: -9px;
		}

		* html .qtip-titlebar .qtip-close{ top: 16px; } /* IE fix */

		.qtip-titlebar .ui-icon,
		.qtip-icon .ui-icon{
			display: block;
			text-indent: -1000em;
			direction: ltr;
			vertical-align: middle;
		}

		.qtip-icon, .qtip-icon .ui-icon{
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			text-decoration: none;
		}

			.qtip-icon .ui-icon{
				width: 18px;
				height: 14px;

				text-align: center;
				text-indent: 0;
				font: normal bold 10px/13px Tahoma,sans-serif;

				color: inherit;
				background: transparent none no-repeat -100em -100em;
			}


/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus{}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover{}

/* Default tooltip style */
.qtip-default{
	border-width: 1px;
	border-style: solid;
	border-color: #000;

	background-color: #fefefe;
	color: #555;
}

	.qtip-default .qtip-titlebar{
		background-color: #eee;
	}

	.qtip-default .qtip-icon{
		border-color: #CCC;
		background: #F1F1F1;
		color: #777;
	}

	.qtip-default .qtip-titlebar .qtip-close{
		border-color: #AAA;
		color: #111;
	}

/* Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-shadow{
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/* Tips plugin */
.qtip .qtip-tip{
	margin: 0 auto;
	overflow: hidden;
	z-index: 10;
}

	.qtip .qtip-tip,
	.qtip .qtip-tip .qtip-vml{
		position: absolute;

		color: #123456;
		background: transparent;
		border: 0 dashed transparent;
	}

	.qtip .qtip-tip canvas{ top: 0; left: 0; }

	.qtip .qtip-tip .qtip-vml{
		behavior: url(#default#VML);
		display: inline-block;
		visibility: visible;
	}

.qtip .spa,
.qtip .greek {
	line-height: 1.2;
}

.qtip .verse {
	line-height: 1.6;
}

.qtip .block {
	margin-bottom: 1em;
}


/* Print */

@media print {

#nav {
	display: none;
}

h1 {
	font-size: 3em;
	margin: 2em 0;
}

.interlineal {
/*	margin: 0 auto;
	width: 800px;
*/
	font-size: 10px;
}


}
