RewriteEngine On

RewriteRule strongs/([GH].*)\.html$ strongs_number.php?id=$1 [L]
RewriteRule matthew/([0-9]+)\.html$ interlineal.php?book=mt&chapter=$1 [L]
RewriteRule matthew/([0-9]+)-([0-9]+)\.html$ interlineal.php?book=mt&chapter=$1&endchapter=$2 [L]


